.bluitalia {
  background-color: #0060df;
}

.bluitalia {
  color: white;
}
.stemma {
  height: 150px;
}

.header{
    width: 100%;
}

.dimensionefissa{
    height: 1920px;
    width: 1080px;
}

.ruota {
    height: 1080px;
    width: 1920px;
    writing-mode: vertical-rl;
}

.titolo {
    padding-left: 3rem;
}

.newlinebadge {
    white-space: collapse;
}

h1 {
  font-family: 'Titillium Web';
}

p {
  font-family: 'Titillium Web';
}

.outercontainer {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}